$font-family: "Montserrat", sans-serif;
$container-bg: linear-gradient(
  to right top,
  #d16ba5,
  #c777b9,
  #ba83ca,
  #aa8fd8,
  #9a9ae1,
  #8aa7ec,
  #79b3f4,
  #69bff8,
  #52cffe,
  #41dfff,
  #46eefa,
  #5ffbf1
);
$main-bg: linear-gradient(
  to left bottom,
  #d16ba5,
  #c777b9,
  #ba83ca,
  #aa8fd8,
  #9a9ae1,
  #8aa7ec,
  #79b3f4,
  #69bff8,
  #52cffe,
  #41dfff,
  #46eefa,
  #5ffbf1
);
$white: #fff;
$black: #201919;
$gray: #868686;
$agua: #1ae6d8;
$error: #db110a;
